---
interface Props {
    title: string;
    body: string;
    image: string;
    date: string;
    order?: boolean;
}

const { title, body, image, date, order } = Astro.props;
---

<article class={order ? 'order' : ''}>
    <img src={image} alt={title} loading="lazy" />
    <div class="content">
        <h3>{title}</h3>
        <p set:html={body}></p>
        <date>
            {date}
        </date>
    </div>
    <span></span>
</article>
<style>

    article {
        --border-color: #493f3f;
        --time-line-color: #09b9ff;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        position: relative;
        
        & h3 {
            color: var(--accent-color);
        }

        &.order {
            flex-direction: row-reverse;
        }

        & .content {
            width: 100%;
            max-width: 450px;
            background: var(--gradient-style-2);
            border-radius: 0 25px 25px 0;
            padding: 0.5rem;
            border-right: solid 1px var(--border-color);
        }

        & img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 25px; 
            background: var(--gradient-style-2);
            padding: 1rem;
            border-right: solid 1px var(--border-color);
            border-bottom: solid 1px var(--border-color);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -3rem;
            left: 50%;
            width: 1px;
            height: 3rem;
            background: rgb(9, 206, 255);
            filter: drop-shadow(var(--time-line-color) 0 0 5px);
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: calc(50% - 2px);
            width: 4px;
            height: 7px;
            background: #be4cc1;
            filter: blur(9px);
        }

    }

    @media (width < 768px) {
        article {
            gap: 1rem;
            background: var(--gradient-style-2);
            border-radius: 25px;
            & img {
                max-width: 80px;
                max-height: 80px;
                padding: 0.1rem;
                border: solid 2px #493f3f;
                margin-top: 1rem;
                border-radius:10px;
            }

            & .content {
                background: none;
                border: none;
            }

            &.order{
                flex-direction: row !important;
            }
        }
    }
</style>